<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adventure Works CRUD</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark align-top">
        <div class="navbar-brand mb-lg-0 h1">
            @Html.ActionLink("Adventure Works CRUD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item li-margin">
                @Html.ActionLink("Human Resources", "HumanResources", "HumanResources", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item li-margin">
                @Html.ActionLink("Person", "Person", "Person", new { @class = "nav-link" })
            </li>
            <li class="nav-item li-margin">
                @Html.ActionLink("Production", "Production", "Production", new { @class = "nav-link" })
            </li>
            <li class="nav-item li-margin">
                @Html.ActionLink("Purchasing", "Purchasing", "Purchasing", new { @class = "nav-link" })
            </li>
            <li class="nav-item li-margin">
                @Html.ActionLink("Sales", "Sales", "Sales", new { @class = "nav-link" })
            </li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

<div style="height:100px;"></div>
    <footer>
        <div class="d-flex justify-content-center">
            <p style="margin:0;">&copy; @DateTime.Now.Year - Roberto Torres</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datatables-bootstrap4")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jquery-blockUI")
    @RenderSection("scripts", required: false)
</body>
</html>
